CREATE DATABASE veterinary;
CREATE TABLE owners(...);
INSERT INTO animals(...);
INSERT INTO appointments(...);
INSERT INTO doctors(...);
INSERT INTO invoices(...);
INSERT INTO medicalrecords(...);
